body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

ul {
  padding:0;
  margin:0;
}
ul li {
  list-style-type: none;
}

h1 {
  text-transform: uppercase;
}

.font--dark {
  color: #666666;
}

.font--light {
  color: #999999;
}

.table>tbody>tr>td, .table>tfoot>tr>td{
    vertical-align: middle;
}




@media screen and (max-width: 600px) {
    table#cart tbody td .form-control{
		width:20%;
		display: inline !important;
	}

	table#cart thead { display: none; }
	table#cart tbody td { display: block; padding: .6rem; min-width:320px;}
	table#cart tbody tr td:first-child { background: #333; color: #fff; }
	table#cart tbody td:before {
		content: attr(data-th); font-weight: bold;
		display: inline-block; width: 8rem;
	}

}
